{% extends 'sous-categories.twig' %}

{% block nav_2 %}

{% endblock %}

{% block main %}

    <section class="wrapper centre">
        <h2>À-propos</h2>
        <p>Ce site à été crée par <span class="bold">KUZNETSOV Nikita</span></p>
        <p class="description">Dans le cadre de la SAE203, nous explorons la création et l'utilisation d'une base de données, ainsi que l'intégration de ses données dans un site web grâce à PHP et Twig. Nous apprendrons à ajouter des éléments dans la base de données, à les modifier, les supprimer, et à effectuer des tris en fonction du type de données, et bien plus encore.</p>
        <p class="box-contact"><i class="fa-solid fa-envelope"></i> kuznecovn82@gmail.com</p>
        <p class="box-contact"><i class="fa-solid fa-phone"></i> 06 80 76 46 31</p>
    </section>

{% endblock %}
